@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Schoolbell", cursive;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: none;
}

.UI {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    border: 5px solid black;
    font-size:20px;

}

.stats {
    width: 100vw;
    height: 20vh;
    background-color: rgb(138, 148, 199);
    display: flex;
    justify-content: space-between;
}

.game {
    width: 100vw;
    height: 80vh;
    background: url("/assets/BG.png");
    border: 2px solid black;

}


.bullets,
.timer,
.target {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullets {
    width: 15vw;
    border: 2px solid black;
}

.timer {
    width: 60vw;
    border: 2px solid black;
}

.target {
    width: 25vw;
    border: 2px solid black;
}