@import url('https://fonts.googleapis.com/css2?family=Honk:MORF@15&family=Pixelify+Sans:wght@400..700&family=Schoolbell&display=swap');

body {
    font-family: "SchoolBell", cursive;

}

body {
    box-sizing: border-box;
    margin: 0 auto;

}



.overlay {
    width: 100vw;
    height: 100vh;
    background: url("/assets/Home.png");
    background-position: top;
    background-repeat: repeat;
    background-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    animation: scrollBack 10s linear infinite;
}

@keyframes scrollBack {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 1000px -1000px;
    }
}



.overlay>* {
    margin: 0px;
}

.overlay>h1 {
    font-size: 10vw;
}

.overlay>h2 {
    font-size: 5.71vw;
}

.overlay>button {
    font-family: "SchoolBell", cursive;

    background: #000000;
    color: white;
    border: 0px;
    border-radius: 10px;
    height: 10vh;
    width: 30vw;
    font-size: 2.8vw;
    cursor: pointer;

}


.hidden {
    display: none;
}

.UI {

    width: 100vw;
    height: 100vh;
    background-color: blue;
    border: 5px solid black;
    font-size: 20px;

}

.stats {
    font-family: "Honk", sans-serif;
    width: 100vw;
    height: 20vh;
    background: url("/assets/statBoard.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
}

.game {
    position: relative;
    width: 100vw;
    height: 80vh;
    background: url("/assets/BG.png");
    border: 2px solid black;
    border-top: none;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.bullets,
.timer,
.target {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3vw;
}



.bullets {
    width: 15vw;

}

.timer {
    width: 60vw;
}

.target {
    width: 25vw;
}

.bird,
.birdBox {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.bird {
    width: 5vw;
    height: 5vw;
    pointer-events: none;
}

.birdBox {
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 8vw;
    height: 8vw;
    cursor: pointer;


}

.shot {
    position: absolute;
    pointer-events: none;
    z-index: 2000;
    height: 6vh;
    width: 6vw;
    transform: translate(-50%, -50%);


}